body {
  font-family: Arial;
  background: linear-gradient(to right, #eef2ff, #ffffff);
  margin: 0;
  padding: 0;
}

.card {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

h1 {
  text-align: center;
  color: #222;
}

.stat {
  background: #f5f5ff;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 18px;
}

.btn {
  display: block;
  text-align: center;
  padding: 12px;
  margin-top: 12px;
  background: royalblue;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
}

.btn:hover {
  background: navy;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}
