body {
  font-family: Arial;
  background: #f4f6ff;
  padding: 20px;
}

h1 {
  text-align: center;
}

.cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #007bff;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

button {
  padding: 8px 15px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
}

input, select {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}
